body {
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  background-color: black;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  max-height: 30vh;
}

#login-page {
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

#content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#content button {
  align-items: center;
  background-color: mediumpurple;
  border: 2px solid white;
  border-radius: 0.25rem;
  cursor: pointer;
  flex: auto;
  font-size: 32px;
  font-weight: bold;
  margin: 1.5rem;
  padding: 2rem;

  transition: opacity 0.05s ease-in 0.0s;
  transition: padding 0.05s ease-in 0.0s;
}

#content button:hover {
  opacity: 50%;
  padding: 2.25rem;
}

.username,
.password {
  color: white;
}

.username {
  margin-left: 100px;
  margin-top: 10px;
}

.password {
  margin-left: 100px;
  margin-top: 20px;
}

.header {
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  color: ghostwhite;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding-top: 3em;
  background-color: black;
  font-style: initial;
  margin-top: 0px;
}

.logpage {
  padding-left: 5.2em;
  display: flex;
  align-items: center;
  color: ghostwhite;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 0em;
  background-color: black;
  font-style: initial;
  margin-top: 0px;
  padding-bottom: 0em;
}

.meetplanet {
  padding-left: 5.2em;
  display: flex;
  align-items: center;
  color: ghostwhite;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 0em;
  background-color: black;
  font-style: initial;
  margin-top: 0px;
  padding-bottom: 0em;
}

.saturn img {
  width: 200px;
  margin-left: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  float: left;
}

.planet img {
  width: 200px;
  margin-right: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  float: right;
}

.logbutton {
  margin-left: 100px;
  margin-top: 20px;
}

.text {
  font-size: 20px;
  color: white;
}

.outro {
  font-style: oblique;
  font-size: 25px;
  color: white;
  align: center;
  margin-left: 250px;
}
