body {
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  background-color: black;
  min-height: 100vh;
  flex-flow: column, nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  max-height: 30vh;
  flex: auto;
}

#login-page {
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

#content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  flex: auto;
  gap: 5vh;
}

button, input[type="submit"] {
  align-items: center;
  background-color: mediumpurple;
  border-radius: 12px;
  cursor: pointer;
  flex: auto;
  font-size: 32px;
  font-weight: bold;
  margin: 1.5rem;
  padding: 2rem;

  transition: opacity 0.2s ease-in 0.0s;
}

button:hover, input[type="submit"]:hover {
  opacity: 25%;
}

.username {
  margin-left: 100px;
  margin-top: 10px;
}

.password {
  margin-left: 100px;
  margin-top: 20px;
}

.header {
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  color: ghostwhite;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding-top: 3em;
  background-color: black;
  font-style: initial;
  margin-top: 0px;
}

.logpage {
  padding-left: 5.2em;
  display: flex;
  align-items: center;
  color: ghostwhite;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 0em;
  background-color: black;
  font-style: initial;
  margin-top: 0px;
  padding-bottom: 0em;
}

#meet_planet {
  padding-left: 5.2em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: ghostwhite;
  font-size: 20px;
  padding-top: 0em;
  background-color: black;
  font-style: initial;
  margin-top: 0px;
  padding-bottom: 0em;
}

#saturn img {
  width: 200px;
  margin-left: 0px;
  margin-bottom: 0px;
  float: left;
}

#some_planet img {
  width: 200px;
  margin-right: 0px;
  margin-bottom: 0px;
  float: right;
}

.logbutton {
  margin-left: 100px;
  margin-top: 20px;
}

.outro {
  font-style: oblique;
  font-size: 25px;
}

.planet-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.planet {
  border: 1px solid black;
}

